.headerRow{
    background-image: url('https://cdn.cosmicjs.com/fbe180e0-9a15-11e7-b3ce-37829f00d429-web-design-and-development.jpg'),linear-gradient(rgba(20, 20, 20, 0.5), rgba(0, 0, 0, 0.5));
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position:center;
    background-blend-mode:soft-light;
    
}
.headerRow div h1{
font-size: 60px;
color: #914D76;

}
.headerRow div p{
font-size: 20px;
font-weight: 700;

}
.headerRow div{
background-color:gainsboro;

padding: 20px 25px;
opacity: 0.7;
border-radius: 10px;

}
#learnMore{
    text-decoration: none;
    color: black;
    background-color: orange;
    padding: 10px 20px;
    font-weight: 700;
}
